<ion-view view-title="请选择服务项目">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="sureModifyService()">确定</button>
    </ion-nav-buttons>
    <ion-content class="item-bg">
        <!--<input class="" type="checkbox" ng-disabled="true" ng-checked="flag.isAllSelectedServiceFlag" ng-click="AllSelectService($event) ">
        全选/全不选(据说往后业务需要增加此功能暂时不做UI效果)-->
        <div class="list">
            <div class="item-friends-box ">
                <div class="group-chat-block remove-top-bottom-border" ng-repeat="service in serviceCategoryInAlpha">
                    <div class="remove-bottom-border">

                        <!--<div class="group-chat-block item-border-top-line">    </div>-->

                        <ion-checkbox class="item-serve-left item-checkbox-technician__circle" ng-checked="service.isChecked" ng-click="isSelectService($event,service)">
                            <!--<img ng-src="{{ brand.icon | prefixSrc }}">-->
                            <span class="item-checkbox-technician__circle-text">{{ service.name }}</span>
                        </ion-checkbox>


                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>