<div class="tipbox" style="display:block;">
    <div class="tipbox-content" style="width:80%;">
        <form name="modifyGroupName" ng-submit="groupNameSubmit(modifyGroupName.$error)" novalidate>
            <div class="change-name-content">
                <h4 class="tipbox-title">群名称</h4>
                <label><input check-group-name class="change-name-input" type="text"  ng-model="groupModal.name"  ng-maxlength="20" required  name="name"/></label>
                <div class="error" ng-messages="modifyGroupName.name.$error">
                    <p class="change-name-tips" ng-message="required">请输入群名称</p>
                    <p class="change-name-tips" ng-message="maxlength">不能大于20个字</p>
                    <p class="change-name-tips" ng-message="groupName">只能包含中文、下划线、数字、字母</p>
                </div>
            </div>
            <div class="button-bar individual-set-button-bar">
                <a class="button chat-tipbox-button individual-set-button-cancel" href="#"  ng-click="closeModifyGroupName()">取消</a>
                <input type="submit"  class="button chat-tipbox-button individual-set-button-confirm" value="确定">
            </div>
        </form>
    </div>
</div>